# Package Files #
*.war
*.ear
*.class
hs_err_pid*
nbproject/private/
nbproject/private/*
build/
build/*
dist/
dist/*
music/
music/*
definitionLog.txt
definitions.txt
SettingPing.xml
Settings.xml
ImportedMarkov
SettingMarkov.xml
WheatleyLogs.plog
badwords.txt
gameScores.json
*.json
password.txt
*.dat
cmdHist.txt
ImportedMarkov.prev
MarkovWords
/test-reports
